# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/

# Power BI
*.pbix.autosave

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db